---
import Default from "../Default.astro";
import Title from "../Title.astro";
import Bubble from "../../components/Bubble.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import "@styles/markdown.css";

const { frontmatter } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "src/assets/images/*"
);
---

<Default pageTitle={"uOImprov | " + frontmatter.title}>
  <div class="min-h-screen flex flex-col items-center">
    <Title>
      <div
        class="flex flex-col sm:flex-row justify-center items-center sm:max-w-4xl"
      >
        <Image
          src={images[frontmatter.img]()}
          alt={frontmatter.title}
          class="rounded-lg flex-wrap w-5/6 max-w-60 sm:w-60 mr-4 mb-3 sm:mb-0"
        />
        <div>
          <h2 class="bowlby-one-regular text-base">Announcements &gt</h2>
          <h1 class="bowlby-one-regular text-2xl sm:text-3xl">
            {frontmatter.title}
          </h1>
          <p>{frontmatter.date}</p>
        </div>
      </div>
    </Title>
    <div class="mt-4 mb-5 px-6 sm:w-[620px] lg:w-[800px]">
      <div class="markdown">
        <slot />
      </div>
      <Bubble
        isButton={true}
        link="https://buy.stripe.com/8wM046gem3A46AgaEF"
        outerClass="var-2 mt-5 mx-auto w-72 flex justify-center p-3"
      >
        <span class="text-lg font-bold"> Grab Your Tickets Here! </span>
      </Bubble>
    </div>
  </div>
</Default>
