---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logo from "@assets/images/logo.png";

const headerLinks = [
  { name: "Home", url: "/" },
  { name: "Announcements", url: "/announcements" },
  { name: "FAQ", url: "/faq" },
  { name: "About", url: "/about" },
];
---

<script>
  let menuOpen = false;

  const menuButton = document.querySelector("#menuButton");
  const menu = document.querySelector("#menu");
  const restOfScreen = document.querySelector("#restOfScreen");

  const toggleMenu = () => {
    if (!menuOpen) {
      if (menu?.classList.contains("hidden")) menu?.classList.remove("hidden");

      menu?.classList.add("fade-in-menu");
      menu?.classList.remove("fade-out-menu");
    } else {
      menu?.classList.add("fade-out-menu");
      menu?.classList.remove("fade-in-menu");
    }

    restOfScreen?.classList.toggle("hidden");
    menuOpen = !menuOpen;
  };

  menuButton?.addEventListener("click", toggleMenu);
  restOfScreen?.addEventListener("click", toggleMenu);
</script>

<style>
  .fade-in-menu {
    animation: fadeInMenu 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .fade-out-menu {
    animation: fadeOutMenu 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInMenu {
    from {
      display: none;
      opacity: 0;
      transform: translateY(-8em);
    }
    to {
      display: flex;
      opacity: 1;
      transform: translateY(0em);
    }
  }

  @keyframes fadeOutMenu {
    from {
      display: flex;
      opacity: 1;
      transform: translateY(0em);
    }
    to {
      display: none;
      opacity: 0;
      transform: translateY(-8em);
    }
  }
</style>

<div
  class="z-30 relative flex justify-center w-100 p-2 text-lg font-medium bg-slate-50/100 sm:bg-slate-50/90"
>
  <img src={logo.src} alt="club logo" class="h-11 w-auto mr-auto ml-2" />
  {
    headerLinks.map(({ name, url }) => (
      <a
        class="py-2 px-4 cursor-pointer rounded-lg encode-sans-300 hidden sm:block
        transition duration-200 ease-in-out hover:-translate-y-1 hover:shadow-lg hover:bg-slate-50/100"
        href={url}
      >
        <h3 class="text-black opacity-100">{name}</h3>
      </a>
    ))
  }
  <button
    class="visible sm:invisible text-black w-auto ml-auto mt-0.5 mr-2"
    id="menuButton"
  >
    <Icon size={40} name="mdi:menu" class="" />
  </button>
</div>
<div
  id="menu"
  class="z-20 relative fade-in-menu hidden sm:hidden flex-col w-100 p-2 pt-0 text-lg font-medium bg-slate-50/90"
>
  {
    headerLinks.map(({ name, url }) => (
      <a
        class="py-2 px-4 cursor-pointer rounded-lg encode-sans-300 sm:hidden
        transition duration-200 ease-in-out hover:-translate-y-1 hover:shadow-lg hover:bg-slate-50/100"
        href={url}
      >
        <h3 class="text-black opacity-100">{name}</h3>
      </a>
    ))
  }
</div>
<div
  class="relative h-screen w-full bg-transparent hidden sm:hidden"
  id="restOfScreen"
>
</div>
